@use '../style_utils/mixins' as *;
@use '../style_settings/sizes' as *;
@use '../style_settings/colors' as *;

// .property-page__layout {
//   @include desktop {
//     display: flex;
//     // gap: 1.5rem;
//   }

//   &-sidebar {
//     & > form {
//       // position: sticky;
//       // top: 0;
//       // display: flex;
//       // flex-direction: column;
//       // gap: 1.5rem;
//       // background-color: white;
//       // padding: $size-md;
//       // // border: 1.5px solid $border-color;
//       // // border-radius: $size-md;
//       // margin-bottom: 2rem;
//       // border-right: 1px solid $border-color;
//       // overflow-y: scroll;
//       // overflow-x: hidden;
//       // max-height: 100dvh;

//       @include desktop {
//         margin-bottom: 0;
//       }
//     }

//     @include desktop {
//       width: 25%;
//     }
//   }

//   &-main {
//     @include desktop {
//       width:75%;
//       padding: 1em;
//     }
//   }
// }



.property-page {
  
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

}
