@use '../style_settings' as *;
@use '../style_utils' as *;



.navigation {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navigation__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: $size-md;
  position: relative;
}

.logo {
  font-size: 1.75rem;
}


.navigation__auth-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

