$primary: #171717;
$secondary: #8c8c8c;
$neutral: #cccccc;

$light-gray: #f2f2f2a1;

$color-danger: #dc3545;
$color-success: #28a745;
$color-warning: #ffc107;

$border-color: #e0e0e0;

$blue: #3f92f8;
