$primary: #171717;
$secondary: #8c8c8c;
$neutral: #cccccc;

$light-gray: #f2f2f2a1;

$color-danger: #dc3545;
$color-danger-light: #fa3d66;
$color-success: #28a745;
$color-warning: #ffc107;

$border-color: #e0e0e0;

$blue: #1f81fa;
$black-gray-gradient: linear-gradient(to top, $primary, gray 70%);
