@use '../style_settings' as *;

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
  align-items: center;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.d-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.d-flex-inline {
  display: inline-flex;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}

.grow-1 {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

//PADDING
$p-sizes: (
  xs: $size-xs,
  sm: $size-sm,
  md: $size-md,
  lg: $size-lg,
  xl: $size-xl,
);

@each $key, $value in $p-sizes {
  .p-#{$key} {
    padding: $value;
  }
}

@each $key, $value in $p-sizes {
  .p-x-#{$key} {
    padding-inline: $value;
  }
}

@each $key, $value in $p-sizes {
  .p-y-#{$key} {
    padding-block: $value;
  }
}

//MARGIN
$m-sizes: (
  xs: $size-xs,
  sm: $size-sm,
  md: $size-md,
  lg: $size-lg,
  xl: $size-xl,
);

@each $key, $value in $p-sizes {
  .m-#{$key} {
    margin: $value;
  }
}

@each $key, $value in $m-sizes {
  .m-x-#{$key} {
    margin-inline: $value;
  }
}

@each $key, $value in $m-sizes {
  .m-y-#{$key} {
    margin-block: $value;
  }
}

//GAP
$gap-sizes: (
  xs: 0.25rem,
  sm: 0.5rem,
  md: 1rem,
  lg: 1.5rem,
  xl: 2rem,
);

@each $key, $value in $gap-sizes {
  .gap-#{$key} {
    gap: $value;
  }
}

//BUTTON
.btn {
  padding: 1em 1.5em;
  border: none;
  cursor: pointer;
  font-weight: bold;

  &:active {
    scale: 0.95;
  }
}

.btn--pill {
  border-radius: 5rem;
}

.btn--primary {
  background-color: $blue;
  color: white;
}

.btn--secondary {
  background-color: $secondary;
  color: white;
}

.btn--danger {
  background-color: $color-danger;
  color: white;
}

.btn--success {
  background-color: $color-success;
  color: white;
}

.btn--warning {
  background-color: $color-warning;
  color: black;
}

.overlay {
  position: fixed;
  z-index: 5;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

//ANIMATION
