@use '../style_settings/colors' as *;

.badge{
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    font-weight: bold;
    top: 1rem;
    right: 1rem;
}

.badge--primary {
    background-color: $primary;
}

.badge--success {
    background-color: $color-success;
}
.badge--danger {
    background-color: $color-danger;
}

.badge--warning {
    background-color: $color-warning;
}