.badge{
    background-color: #2b7fff;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    font-weight: bold;
    font-size: .9rem;
    top: 1rem;
    right: 1rem;
}