@use '../style_settings' as *;
@use '../style_settings/colors' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: $primary;
}

p {
  color: $secondary;
  line-height: 1.6rem;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

input[type='checkbox'],
input[type='radio'] {
  accent-color: $primary;
}

button {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
