.checkbox-group {
  
  &__legend {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.6rem;

    & input[type='checkbox'] {
      transform: scale(1.3);
    }
  }
}
