@use '../style_settings/colors' as *;

.input {
  position: relative;

  &__field {
    padding: 0.75em 1em;
    border-radius: 10px;
    border: 1px solid $border-color;
    width: 100%;
  }

  &__show-btn {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
