.radio-group {
  
  &__container.row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.6rem;

    & input[type='radio'] {
      transform: scale(1.3);
    }
  }
}
