.slider {
	position: relative;
	display: flex;
	align-items: center;
	user-select: none;
	touch-action: none;
	width: 100%;
	height: 20px;
}

.slider__track {
	background-color: lightgray;
	position: relative;
	flex-grow: 1;
	border-radius: 9999px;
	height: 3px;
}

.slider__range {
	position: absolute;
	background-color: blue;
	border-radius: 9999px;
	height: 100%;
}

.slider__thumb {
	display: block;
	width: 20px;
	height: 20px;
	background-color: white;
	border: 1px solid lightgray;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
.slider__thumb:hover {
	cursor: pointer;
}

