@use '../style_settings' as *;

.select__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $size-sm;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid $neutral;
}

.select__content {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  overflow: hidden;
}

.select__viewport {
  padding: $size-sm;
}

.select__item {
  padding: $size-sm;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.select__item:hover {
  background-color: lightgray;
}

.select__scroll-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: black;
  cursor: default;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
