@use '../style_settings/colors' as *;

.table-wrapper {
  border: 1px solid $border-color;
  border-radius: 0.475rem;
  overflow-x: auto;
  background: white;
}

.table {
  background-color: white;

  &__header {
    background-color: $border-color;
    color: black;
  }

  &__image {
    border-radius: 0.275rem;
    object-fit: cover;
  }
}
