@use '../style_settings/colors' as *;

.u-link {
  width: 100%;
  padding: 0.75em 0.5em;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

.dashboard {
  &__sidebar {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100vh;
    width: 250px;
    flex-shrink: 0;
    padding: 1.5em 1em;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 0.5em;
  }

  &__nav {
    margin-top: 2rem;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__nav-link {
    @extend .u-link;
    border: 1px solid transparent;

    &:hover,
    &.active {
      background: $black-gray-gradient;
      border: 1px solid $neutral;
      color: white;
    }
  }

  &__logout {
    @extend .u-link;
    color: red;
    margin-top: auto;

    &:hover {
      background-color: red;
      color: white;
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 60px;
  padding-block: 0.875rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $border-color;

  &__logo-wrapper {
    width: 40px;
    height: 40px;
    font-size: 1.175rem;
    border-radius: 0.375rem;
    background: linear-gradient(to top, $primary, gray 70%);
    margin-bottom: 0.753rem;
  }

  &__logo {
    color: white;
  }

  &__nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__list {
    li {
      margin-top: 1rem;
    }
  }

  &__link {
    color: $primary;
    width: 35px;
    height: 35px;

    &.active {
      background: $black-gray-gradient;
      border: 1px solid $neutral;
      color: white;
      border-radius: 0.475rem;
    }
  }
}
