@use '../style_settings/colors' as *;

.form-progress__container {
  display: flex;
  flex-direction: column;

  .form-progress__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .form-progress__step-number {
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    color: white;
    width: 30px;
    height: 30px;
  }

  .form-progress__progress-bar {
    appearance: none;
    width: 100%;
    height: 6px;

    &::-webkit-progress-bar {
      border-radius: 10px;
      background-color: white;
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

    &::-webkit-progress-value {
      background-color: $blue;
      border-radius: 10px;
      transition: width 500ms ease;
    }
  }
}
