@forward './property-card';
@forward './pagination';
@forward './price-slider';
@forward './user-avatar';
@forward './property-skeleton';
@forward './property-image-gallery';
@forward './property-image-gallery-skeleton';
@forward './property-details-skeleton';
@forward './owner-details-skeleton';
@forward './dashboard-sidebar';
@forward './form-progress';
@forward './profile';
@forward './modal';
@forward './loader';
