@use '../style_settings/colors' as *;


.modal {

    &__content {
      background-color: white;
      border-radius: 6px;
      border: 1px solid $border-color;
      box-shadow: black;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90vw;
      max-width: 500px;
    //   max-height: 85vh;
      padding: 25px;
      z-index: 10;
    }

    &__title {
        font-size: 1.15rem;
    }

    &__footer {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        gap: .75rem;
    }

    &__close-btn {
        all: unset;
        position: absolute;
        top: .5rem;
        right: .5rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__fieldset { 
        all: unset;
        display: flex;
        flex-direction: column;

        &__input {
            padding: .75em 1em;
            border-radius: 10px;
            border: 1px solid $border-color;
        }
    }
}

