@use '../style_settings/colors' as *;
@use "sass:color";

.multi-select-picker {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.875rem;

  &__option {
    padding: 0.375rem 1.375rem;;
    border-radius: 1.875rem;
    background-color: $light-gray;

    input[type='checkbox'] {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    &:hover {
      cursor: pointer;
       background-color: color.adjust($light-gray, $lightness: -15%);
    }

    &:has(input:checked) {
      background-color: $primary;
      color: white;
    }

    &:has(input:focus-visible) {
      outline: 2px solid $primary;
      outline-offset: 2px;
    }
  }
}
