@use '../style_utils/mixins' as *;
@use '../style_settings/colors' as *;

.owner-details-skeleton {
  background-color: white;
  border-radius: 1rem;
  padding: 1.75em;
  border: 1px solid $border-color;
  margin-bottom: 1.75rem;

  @include desktop {
    width: 30%;
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

}
