@use '../style_settings' as *;

.pagination {
  text-align: center;
  margin-top: 2.5em;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__btn {
    width: 2rem;
    height: 2rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    color: black;

    &--active {
      background-color: $blue;
      color: white;
    }
  }
}
