.property-card__image-wrapper{
    position: relative;
    aspect-ratio: 7 / 5;
}


.property-card__image {
  object-fit: cover;
  // border-radius: 10px;
  width: 100%;  
  height: 100%;
}

.property-card__content{
    margin-top: .5rem;
}

.property-card__favorite{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 100%;
}

.property-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.property-card__header > h4 {
  font-size: .9rem;
}

.property-card__details > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-top: .5rem;
}

.property-card__details > ul li{
  display: inline-flex;
  align-items: flex-end;
  gap: .3rem;
}
