@use "../style_utils/mixins" as *;

.gallery-skeleton {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;

  @include tablet {
    grid-template-columns: 70% 29%;
    grid-template-rows: repeat(2, 1fr);
  }

  & li:nth-child(1) {
    background-color: red;
    grid-column-start: span 2;
    @include tablet {
      grid-column-start: unset;
      grid-row-start: span 2;
    }
  }

  & li {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    aspect-ratio: 3/2;
  }
}