@use '../style_utils/mixins' as *;

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;

  @include tablet {
    display: grid;
    grid-template-columns: 70% 29%;
    grid-template-rows: repeat(2, 1fr);
  }

  &__image:nth-child(1) {
    grid-column-start: span 2;
    @include tablet {
      grid-column-start: unset;
      grid-row-start: span 2;
    }
  }

  &__image:nth-child(1) img,
  &__image:nth-child(2) img,
  &__image:nth-child(3) img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__image:nth-child(3) {
    position: relative;
  }


}

.gallery__image--overlay {
  filter: brightness(30%);
}

.gallery__plus-images {
    color: white; 
    font-weight: bold;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}