@use '../style_settings/sizes' as *;
@use '../style_settings/colors' as *;

.property-card {
  border-radius: $size-sm;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}

.property-card__image-wrapper {
  position: relative;
  aspect-ratio: 7 / 5;
}

.property-card__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.property-card__content {
  padding: 0.75rem 1rem;
  background-color: white;
}

.property-card__favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: white;
  border: none;
  border-radius: 100%;
}

.property-card__header {
  margin-bottom: $size-lg;
  &-price {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: $size-xs;
  }

  &-title {
    color: black;
    font-size: 1rem;
    margin-bottom: $size-xs;
  }

  &-city {
    display: inline-flex;
    gap: $size-xs;
  }
}

.property-card__header > h4 {
  font-size: 0.9rem;
}

.property-card__details > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.property-card__details > ul li {
  font-size: 0.8rem;
  display: inline-flex;
  border: 1.5px solid $secondary;
  border-radius: $size-md;
  padding: $size-xs $size-sm;
  align-items: center;
  gap: 0.3rem;
}
