@use '../style_utils/mixins' as *;
@use '../style_settings/colors' as *;

.property-details__skeleton {
  background-color: white;
  border-radius: 1rem;
  padding: 1.75em;
  border: 1px solid $border-color;
  margin-bottom: 1.75rem;

  @include desktop {
    width: 70%;
    margin-bottom: 0;
  }

  &-title {
    width: 100%;
    height: 50px;
  }

  &-text {
    width: 70%;
    height: 30px;
  }
}
