@use '../style_settings/colors' as *;

.image-upload__container {
  width: 100%;
  height: 300px;
  border-radius: 0.5rem;
  border: 2px dashed lightgray;
  padding: 3rem;
  text-align: center;
  position: relative;

  &.active {
    border: 2px dashed $blue;
  }
}

.upload-zone {
  &__input {
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}

.upload-images__list {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  max-height: 300px;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  overflow-y: auto;
}

.image-previewer {
  display: flex;
  padding: 0.475rem;
  border: 1px solid $border-color;
  border-radius: 0.375rem;
  position: relative;

  &__delete-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.image--invalid {
  border: 1px solid $color-danger;
}
