@use '../style_settings/' as *;

.search-form__container {
  background-color: white;
  border-radius: 1rem;
  padding: $size-lg;
}

.search-form__title {
  margin-bottom: 1rem;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-form__control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
